# Ignore variáveis de ambiente
.env

# Ambientes virtuais
.venv/
venv/

# Arquivos por extensão
*.pdf
*.png
*.jpg
*.jpeg

# (opcional) ignorar pastas específicas
img/**/*.png
img/**/*.jpg
task/**/*.pdf